# OSX
.DS_Store

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/


# Android/IJ
.idea
.gradle
local.properties

# node.js
node_modules/
npm-debug.log

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore

# VSCODE
.vscode

BrightID/ios/Pods/
BrightID/ios/Podfile.lock
BrightID/ios/Pods/Pods.xcodeproj/project.pbxproj
BrightID/ios/Pods/Manifest.lock
BrightID/ios/Pods/Target Support Files/Pods-BrightID/Pods-BrightID.release.xcconfig
BrightID/ios/Pods/Target Support Files/Pods-BrightID/Pods-BrightID.debug.xcconfig
BrightID/ios/Pods/Target Support Files/Pods-BrightID/Pods-BrightID-acknowledgements.markdown
BrightID/flow-typed/npm/
BrightID/android/app/google-services.json-prod
BrightID/android/staging.properties
BrightID/android/app/google-services.json-staging
