body {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 81vh;
  width: 100%;
  overflow: scroll;
}

.device {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 12px solid black;
  border-radius: 5px;
  margin: 15px;
  width: 360px;
  min-width: 200px;
  height: 440px;
}

.device-header {
  background: linear-gradient(#f52828, #f76b1c);
  color: #fff;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan-text {
  margin-top: -20px;
  padding: 5px;
}

.qr-input {
  padding: 5px;
  width: 96%;
  text-align: center;
}

.qr-input input {
  text-align: center;
}
.device-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 436px;
  width: 100%;
}

.back-button {
  /* position: absolute; */
  align-self: flex-start;
  top: 0px;
  left: 0px;
}

.qrcode-screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -30px;
}

.qrcode {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.c-state {
  padding: 20px;
}

.message-box {
  width: 100%;
}

.pk-box {
  width: 45%;
}

.connect-with {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.connect-buttons {
  padding: 10px;
  display: flex;
  align-content: center;
}

.api-buttons {
  padding: 10px;
  display: flex;
  align-content: center;
}

.local-messages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.qr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.qr-label {
  text-align: center;
  display: flex;
  padding: 10px;
}

.App-intro {
  font-size: large;
}
