.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.connect-buttons {
  padding: 10px;
  display: flex;
  align-content: center;
}

.App-header {
  background: linear-gradient(#f52828, #f76b1c);
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-state {
  padding: 20px;
}

.message-box {
  width: 100%;
}
.gen-message {
  display: flex;
}

.local-messages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.qr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.qr-label {
  text-align: center;
  display: flex;
  padding: 20px;
  margin-left: -75px;
}

.qrcode {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
