.header {
  background: linear-gradient(#f52828, #f76b1c);
  color: #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-state {
  padding: 20px;
}

.message-box {
  width: 100%;
}

.pk-box {
  width: 45%;
}

.connect-with {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.connect-buttons {
  padding: 10px;
  display: flex;
  align-content: center;
}

.local-messages {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.qr-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.qr-label {
  text-align: center;
  display: flex;
  padding: 10px;
}

.qrcode {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.App-intro {
  font-size: large;
}
