name: Appcenter codepush
on:
  push:
    branches:
      - automate_staging_deploy
jobs:
    deploy:
        if: github.repository_owner == 'BrightID'
        name: Deploy Staging
        runs-on: ubuntu-latest
        defaults:
          run:
            working-directory: BrightID

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Use Node.js 16
              uses: actions/setup-node@v1
              with:
                node-version: 16.x

            - name: Cache node modules
              id: yarn-cache-debug # needed below to check for cache hit or miss
              uses: actions/cache@v2
              with:
                path: './BrightID/node_modules'
                key: ${{ runner.os }}-modules-16x-${{ hashFiles('./BrightID/yarn.lock') }}

            - name: Install Dependencies
              if: steps.yarn-cache-debug.outputs.cache-hit != 'true'  # only install when no cache found
              run: yarn --frozen-lockfile

            - name: Deploy to Codepush - Android
              uses: TripleSpeeder/codepush-action@master
              with:
                directory: BrightID
                args: release-react -a BrightID/BrightID-android -d Staging
              env:
                APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN_ANDROID }}

            - name: Deploy to Codepush - iOS
              uses: TripleSpeeder/codepush-action@master
              with:
                directory: BrightID
                args: release-react -a BrightID/BrightID-ios -d Staging
              env:
                APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN_IOS }}
