name: Appcenter codepush
on:
  push:
    branches:
      - master
jobs:
  deploy:
    if: github.repository_owner == 'BrightID'
    name: Deploy Staging
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: BrightID

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn set version 1.22.22 && yarn cache clean && yarn install --frozen-lockfile

      - name: Deploy to Codepush - Android
        uses: TripleSpeeder/codepush-action@master
        with:
          directory: BrightID
          args: release-react -a BrightID/BrightID-android -d Staging --disabled --disable-duplicate-release-error --description "${GITHUB_REF_NAME}.${GITHUB_SHA}"
        env:
          APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN_ANDROID }}

      - name: Deploy to Codepush - iOS
        uses: TripleSpeeder/codepush-action@master
        with:
          directory: BrightID
          args: release-react -a BrightID/BrightID-ios -d Staging --disabled --disable-duplicate-release-error --description "${GITHUB_REF_NAME}.${GITHUB_SHA}"
        env:
          APPCENTER_ACCESS_TOKEN: ${{ secrets.APPCENTER_ACCESS_TOKEN_IOS }}
